.Footer {
    text-align: center;
    z-index: 2;
    background-color: white;
}

#div-footer {
    text-align: center;
    z-index: 2;
    color: black;
}

#div-footer div {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.3rem;
    display: inline-block;
}

#div-footer div a {
    color: #0a58ca;
    margin-left: 15px;
}

#div-footer div a:link, #div-footer div a:active {
    text-decoration: none;
}

#div-footer div svg {
    margin-left: 5px;
}