#galerie-div {
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#galerie-content {
    text-align: center;
    margin: 0 max(2vw, env(safe-area-inset-right)) 0 max(2vw, env(safe-area-inset-left));
    flex: 1;
}

#galerie-content h1 {
    color: midnightblue;
    font-size: 4rem;
    margin: 0 0 20px;
}

#galerie-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galerie-images img {
    margin: 5px;
    width: 18vw;
    height: 18vw;
    object-fit: cover;
    cursor: pointer;
}

#ReactSimpleImageViewer span {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}

@media (max-width: 1600px) {
    #galerie-images img {
        width: 22vw;
        height: 22vw;
    }
}

@media (max-width: 1200px) {
    #galerie-images img {
        width: 30vw;
        height: 30vw;
    }
}

@media (max-width: 800px) {
    #galerie-images img {
        width: 42vw;
        height: 42vw;
    }
}

@media (max-width: 350px) {
    #galerie-images img {
        width: 75vw;
        height: 75vw;
    }
}
