#homepage-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#homepage-div header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

#homepage-div footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
