#impressum-div {
    background-color: royalblue;
}

#impressum-content {
    text-align: center;
    width: max(500px, 50%);
    margin: 0 auto;
}

#impressum-content h1 {
    font-size: 4rem;
    margin: 40px 0 20px;
}

#impressum-content div {
    margin-bottom: 40px;
    font-size: 1.8rem;
}
