#impressum-div {
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#impressum-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    flex: 1;
}

#impressum-content h1 {
    font-size: 4rem;
    margin: 0 0 20px;
}

#impressum-content div {
    font-size: 1.8rem;
}
