.Links {
    text-align: center;
    z-index: 2;
    background-color: royalblue;
}

.links-container {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

#link-symbols a {
    position: relative;
    margin: auto;
    padding-left: 2vw;
    color: white;
    font-size: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#link-symbols a img {
    position: relative;
    height: 3rem;
}

#h1-links {
    position: relative;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    font-size: 3rem;
    white-space: nowrap;
}

#div-links{
    position: relative;
    margin: auto;
    color: white;
    font-size: 1.6rem;
}

@media screen and (max-width: 560px) {
    .links-container {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
}