#links-div {
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#links-content {
    text-align: center;
    width: max(500px, 50%);
    margin: 0 auto;
    flex: 1;
}

#links-content h1 {
    font-size: 4rem;
    margin: 0 0 20px;
}

.links-a {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.links-a span {
    color: white;
    font-size: 1.4rem;
}

.links-a a {
    /*display: inline-block;*/
    height: 5rem;
    margin-bottom: 5px;
}

.links-a a svg, .links-a a img {
    color: white;
    height: 5rem;
}